name: Pester Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PowerShell modules
        shell: pwsh
        run: |
          Install-Module -Name Pester -Scope CurrentUser -Force -Confirm:$false

      - name: Run Pester tests
        shell: pwsh
        run: |
          Invoke-Pester -Path Tests -EnableExit -Output Detailed
